NODE_ENV=production
PORT=3000

# PostgreSQL Database (Neon)
DB_HOST=ep-plain-frog-agqkflif-pooler.c-2.eu-central-1.aws.neon.tech
DB_PORT=5432
DB_NAME=rfid_db
DB_USER=neondb_owner
DB_PASSWORD=npg_BCdrof7vEPy1
DB_SSL=require

# CORS
CORS_ORIGIN=*

# Reader Configuration
READER_ID=RFD8500-DEFAULT
